<div class="resume-container">
  <div class="sidenav">
  <div class="vertical-center">
  <a href="/resume/<%= @person.name.sub(' ', '+') %>"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="<%= @person.image %>" alt=""></a>
    <h4><%= @person.name %></h4>
    <p>
      <%= @person.address %>, <%= @person.city %> - <%= @person.postal_code %>
      <br/>
      (<%= @person.phone_number.to_s[0...3] %>) <%= @person.phone_number.to_s[3...6] %>-<%= @person.phone_number.to_s[6...100] %>
      <br/>
      <%= @person.email %>
    </p>
    <% @person.links.each do |link| %>
      <a href="<%= link.source %>"><%= link.key %></a>
    <% end %>
    </div>
  </div>
  <div class="jobs">
    <h1>Experience</h1>
    <% @person.jobs.each do |job| %>
      <div class="job">
        <div class="job-image">
          <img src="<%= job.image %>" height="100px" width="100px"/>
        </div>
        <div class="job-info">
          <h4><%= job.company %> - <small><%= job.title %></small></h4>
          <% if(job.address.include? "http") %>
            <h4><small><a href="<%= job.address %>"><%= job.address %></a></small></h4>
          <% else %>
            <h4><small><%= job.address %></small></h4>
          <% end %>
        </div>
        <div class="job-desc">
          <ul>
            <% job.job_description.each do |desc| %>
              <li><%= desc.desc %></li>
            <% end %>
          <ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="educations">
    <h1>Education</h1>
    <% @person.educations.each do |school| %>
    <div class="education">
      <div class="education-image">
        <img src="<%= school.image %>" height="100px" width="100px"/>
      </div>
      <div class="education-info">
        <h4><%= school.school %> - <small><%= school.certificate %></small></h4>
        <h4><small><%= school.address %></small></h4>
        <p>
          <%= school.start_date %>
          -
          <%= school.end_date %>
        </p>
      </div>
      <div class="education-desc">
        <ul>
          <% school.education_description.each do |desc| %>
            <li><%= desc.desc %></li>
          <% end %>
        <ul>
      </div>
    </div>
    <% end %>
  </div>
</div>
