<div class="resume-container">
  <div class="row" >
    <div class="column">
      <h1>Experience</h1>
      <% @person.jobs.each do |job| %>
      <div class="row-exp">
        <div class="column-exp">
          <img src="<%= job.image %>" height="100px" width="100px"/>
        </div>
        <div class="column-exp company-info">
          <h4><%= job.company %> - <small><%= job.title %></small></h4>
          <% if(job.address.include? "http") %>
            <a href="<%= job.address %>"><h4><small><%= job.address %></small></h4></a>
          <% else %>
            <h4><small><%= job.address %></small></h4>
          <% end %>
          <p>
            <%= job.start_date %>
            -
            <% if(job.end_date > Date.today) %>
              Present
            <% else %>
              <%= job.end_date %>
            <% end %>
          </p>
        </div>
      </div>
      <div class="points">
        <ul>
          <% job.job_description.each do |desc| %>
            <li><%= desc.desc %></li>
          <% end %>
        <ul>
      </div>
      <% end %>
    </div>
    <div class="column">
      <h1>Education</h1>
      <% @person.educations.each do |school| %>
      <div class="row-exp">
        <div class="column-exp">
          <img src="<%= school.image %>" height="100px" width="100px"/>
        </div>
        <div class="column-exp">
          <h4><%= school.school %> - <small><%= school.certificate %></small></h4>
          <h4><small><%= school.address %></small></h4>
          <p>
            <%= school.start_date %>
            -
            <%= school.end_date %>
          </p>
        </div>
      </div>
      <div class="points">
        <ul>
          <% school.education_description.each do |desc| %>
            <li><%= desc.desc %></li>
          <% end %>
        <ul>
      </div>
      <% end %>
    </div>
  </div>
</div>